{% extends 'base.html' %}
{% block content %}
<h1>Edit Post</h1>

<form action="/posts/{{post.id}}/edit" method="post">
  <label for="title">Title</label><br>
  <input type="text" id="title" name="title" value={{post.title}}><br>
  <label for="title">Content</label><br>
  <textarea type="text" id="content" name="content">{{post.content}}</textarea>
  <input type="submit" id="add" value="Edit">
</form>
<form action="/users/{{post.user_id}}" method="get">
<input type="submit" value="Cancel">
</form>
{% endblock %}

