{% extends 'base.html' %}
{% block content %}
<h1>{{user.full_name}}</h1>
<div class="grid text-center">
  <div class="col-4">
    <img src="{{user.image_url}}" class="img-thumbnail" alt="a face">
  </div>
  <button><a href="/users/{{user.id}}/edit">Edit</a></button>
  <form action="/users/{{user.id}}/delete" method="post">
    <input type="submit" value="Delete">
  </form>
</div>
<div>
  <h2>Posts</h2>
  <ul>
      {% for post in posts %}
      <li>{{post.title}}</li>
      {% endfor %}
  </ul>
  <form action="/users/{{user.id}}/posts/new">
    <input type="submit" id="add" value="Add Post">
  </form>
</div>
{% endblock %}